[user]
    name = yamasy1549
    email = sanae@yamasy.info
[core]
    autocrlf = input
    editor = vim
    excludesfile = ~/.gitignore_global
[color]
    ui = true
[ghq]
    root = ~/Projects
[alias]
    open = browse
